# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE specific files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
